<div class="show">
  <h2>Best Venues</h2>
  <p>
    <% @venues.each do |venue| %>
      <%= link_to venue.name, venue_path(venue) %><br>
      <%= pluralize(venue.experiences.count, "experience")%><br><br>
    <% end %>
  </p>
</div>
