<div class:"fields_with_errors">
  <% if @comments.errors.any? %>
    <ul>
      <% @comments.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
<div class:"fields_with_errors">

<div class="field">
  <%= f.text_area :comments %>
</div>
<br>

<div class="actions" id="comments">
  <%= f.submit %>
</div>
