/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* page content */

body {
  background-color: #C9FBFF;

}
div.content {
  text-align: right;
  max-width: 600px;
  margin: auto;
  font-size: 20px;
  font-family: 'Amatic SC', cursive;

}

nav {
  text-align: left;
  text-transform: uppercase;
  font-size: 23px;
  font-family: 'Amatic SC', cursive;
}

nav ul a:link {
  color: #99B2DD;
}

nav ul a:visited {
  color: #614e89;

}

ul {
  list-style-type: none;
}
/* home page */

div.filter p {
  color: #80A1D4;
}

div#venue_list li {
  color: red;
  text-align: right;
  max-width: 600px;
}


/* venue page */

div.show h2 {
  color: #C0B9DD;
  font-size: 20px;
}
