<div class="add">
  <% if user_signed_in? %>
    <%= link_to "Add Category", new_category_path %>
  <% end %>
</div>

<div class="show">
  <h2>Categories</h2>
</div>

<div class="categories_list">
  <ul>
    <% @categories.alphabetical.each do |category| %>
      <li><%= category.name %></li>
    <% end %>
  </ul>
</div>
