<section id="banner">
</section>


  <section class="filter">
    <p> Filter Venues by Location: </p>
    <%= form_tag("/", method: "get") do %>
      <%= select_tag "location", options_from_collection_for_select(Location.all, "id", "name"), include_blank: true %>
      <%= submit_tag "Select" %>
    <% end %>
    <br>
  </section>

  <div class="add">
    <% if user_signed_in? %>
      <%= link_to "Add Venue", new_venue_path %>
    <% end %>
  </div>

  <div id="venue_list">
    <ul> </ul>
  </div>
