<nav>
  <ul id="navigator-list">
    <h2 id="logo" class="type"></h2>
    <script type="text/javascript">
      var typed = new Typed(".type", {
        strings: [
          "VR Guide",
          "VR Experiences",
          "VR Venues",
          "VR Artshows"],
        typeSpeed: 70,
        backSpeed: 60,
        loop: true // Default value
      });

    </script>

    <li id="nav-links"><%= link_to "Home", root_path %> |
    <%= link_to "Best Venues", best_experiences_path %> |
    <%= render partial: 'layouts/signin' %></li>
  </ul>
</nav>
